.planet {
  width: 100%;

  @media screen and (max-width: 1090px) {
    padding: 0 3em;
  }

  @media screen and (max-width: 480px) {
    padding: 0 0 0 0;
  }
  &__links {
    width: 100%;
    display: flex;
    gap: 2em;

    @media screen and (max-width: 1090px) {
      justify-content: center;
    }

    .planet-link {
      background: transparent;
      color: rgba(208, 214, 249, 0.7);
      padding: 0.5em 0;
      border-bottom: 3px solid transparent;
      text-transform: uppercase;
      font-family: "Barlow Condensed", sans-serif;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 0.1em;

      &:hover {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      }
    }

    .active {
      color: rgba(255, 255, 255, 1);
      border-bottom: 3px solid rgba(255, 255, 255, 1);
      font-weight: 300;
    }
  }
}
