.technologyPage {
  width: 100%;
  min-height: 100%;
  padding-left: 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(../../assets/technology/background-technology-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (max-width: 1360px) {
    padding-left: 5em;
  }

  @media screen and (max-width: 1090px) {
    background: url(../../assets/technology/background-technology-tablet.jpg);
    padding-left: 0;
  }

  @media screen and (max-width: 600px) {
    background: url(../../assets/technology/background-technology-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5em;
    padding-bottom: 3em;
    height: auto;
    overflow-y: scroll;
    justify-content: flex-start;
  }

  .technology {
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and(max-width: 1090px) {
      padding-top: 10em;
      gap: 3em;
      padding-bottom: 3em;
    }
    @media screen and(max-width: 768px) {
      padding-top: 5em;
    }

    @media screen and (max-width: 600px) {
      gap: 2em;
      padding-top: 0;
    }

    &__header {
      font-family: "Barlow Condensed", sans-serif;
      width: 100%;
      text-align: left;
      text-transform: uppercase;

      @media screen and(max-width: 1090px) {
        padding-left: 2em;
        font-size: 0.8em;
        letter-spacing: 0.2em;
      }
      @media screen and (max-width: 600px) {
        text-align: center;
        font-size: 0.6em;
        padding-left: 0;
      }

      h1 {
        font-size: 1.8em;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
        font-weight: 200;
        letter-spacing: 0.1em;

        span {
          font-weight: 500;
          color: rgba(255, 255, 255, 0.2);
          margin-right: 0.5em;
        }
      }
    }
    .tech {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 4em;
      width: 100%;

      @media screen and(max-width: 1090px) {
        flex-direction: column-reverse;
        gap: 2.5em;
      }

      @media screen and(max-width: 600px) {
        gap: 2em;
      }

      .left {
        display: flex;
        gap: 4em;

        @media screen and (max-width: 1090px) {
          flex-direction: column;
          width: 100%;
          align-items: center;
          text-align: center;
          gap: 3em;
        }

        @media screen and(max-width: 600px) {
          gap: 1.5em;
        }
      }

      &__id {
        display: flex;
        flex-direction: column;
        gap: 2em;

        @media screen and(max-width: 1090px) {
          flex-direction: row;
          gap: 1.2em;
        }

        .btn {
          font-size: 2em;
          font-family: "Bellefair", sans-serif;
          font-weight: 400;
          border: 0.05em solid rgba(255, 255, 255, 0.15);
          color: rgba(255, 255, 255, 1);
          border-radius: 100%;
          background: transparent;
          padding: 0.65em 1em;
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            border: 0.05em solid rgba(255, 255, 255, 1);
            transition: 0.5s;
          }
          @media screen and(max-width: 1090px) {
            font-size: 1.5em;
          }

          @media screen and(max-width: 600px) {
            font-size: 1em;
            padding: 0.65em 1.05em;
            border: 0.1em solid rgba(255, 255, 255, 0.2);
          }
        }

        .active {
          background: rgba(255, 255, 255, 1);
          transition: 0.5s;
          color: rgba(0, 0, 0, 1);
        }
      }

      &__details {
        // margin-left: -3em;
        @media screen and(max-width: 1090px) {
          display: flex;
          flex-direction: column;
          gap: 0.7em;
        }
        @media screen and(max-width: 600px) {
          padding: 0 1.5em;
        }
        &--header {
          font-family: "Barlow Condensed", sans-serif;
          font-size: 1.15em;
          font-weight: 200;
          color: rgba(208, 214, 249, 1);
          text-transform: uppercase;
          letter-spacing: 0.1em;

          @media screen and (max-width: 600px) {
            font-size: 1.05em;
          }
        }
        &--name {
          font-family: "Bellefair", sans-serif;
          font-size: 3.5em;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          text-transform: uppercase;
          line-height: 1.6;

          @media screen and(max-width: 1090px) {
            font-size: 2.5em;
            line-height: 1.4;
          }
          @media screen and(max-width: 600px) {
            font-size: 1.6em;
            line-height: 1.4;
          }
        }
        &--description {
          font-family: "Barlow", sans-serif;
          font-size: 1.1em;
          font-weight: 300;
          color: rgba(208, 214, 249, 1);
          line-height: 1.8em;
          width: 43ch;

          @media screen and(max-width: 1090px) {
            width: 48ch;
            line-height: 1.6em;
          }
          @media screen and(max-width: 600px) {
            width: 100%;
            font-size: 0.95em;
          }
        }
      }

      &__image {
        @media screen and (max-width: 1090px) {
          width: 100%;
        }

        img {
          @media screen and (max-width: 1090px) {
            width: 100%;
          }
        }
      }
    }
  }
}
