.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  position: fixed;
  margin: 2em 0;
  //   background: hsla(0, 0, 0, 0.6);
  padding-left: 4em;
}
