.navbar {
  position: relative;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(15px);
  padding: 0 8em;
  padding-right: 8em;
  display: flex;
  gap: 3em;

  &::before {
    content: "";
    border-top: 1px solid rgba(151, 151, 151, 0.5);
    position: absolute;
    top: 50%;
    left: -54%;
    width: 58%;
  }

  &__link {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Barlow Condensed", sans-serif;
    padding: 2.5em 0;
    letter-spacing: 0.2em;

    &:hover {
      border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      transition: 0.5s;
    }

    span {
      margin-right: 0.5em;
      font-weight: 500;
    }
  }
  .active {
    border-bottom: 3px solid rgba(255, 255, 255, 1);
  }
  .inactive {
    border-bottom: 0px;
  }
}
