.homepage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  background: url("../../assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5em 0 10em;
  padding-bottom: 4em;

  @media screen and (max-width: 768px) {
    background: url(../../assets/home/background-home-tablet.jpg);
    flex-direction: column;
    justify-content: space-between;
    padding: 12em 10em 0 10em;
    align-items: center;
  }

  .left {
    width: 50%;
    text-align: left;

    @media screen and (max-width: 768px) {
      width: 100%;
      text-align: center;
    }

    h5 {
      font-size: 1.7em;
      font-weight: 100;
      margin: 1em 0;
      font-family: "Barlow Condensed", sans-serif;
      letter-spacing: 0.15em;
      color: rgb(208, 214, 249);

      @media screen and (max-width: 768px) {
        font-size: 1.2em;
      }
    }

    h1 {
      text-transform: uppercase;
      font-size: 8.5em;
      font-weight: 400;
      font-family: "Bellefair", sans-serif;
    }
    p {
      font-size: 1.1em;
      width: 45ch;
      line-height: 1.8;
      font-family: "Barlow", sans-serif;
      font-weight: 300;
      color: rgb(208, 214, 249);
      margin: 2em 0;

      @media screen and (max-width: 768px) {
        font-size: 1em;
        width: 49ch;
        margin: 1em 0;
      }
    }
  }

  .right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    // padding-right: 5em;

    @media screen and (max-width: 768px) {
      width: 100%;
      justify-content: center;
    }

    .circle__wrapper {
      margin-bottom: -3em;
      padding: 5em;
      background: rgba(255, 255, 255, 0);
      border-radius: 100%;
      pointer-events: none;
      transition: 0.5;

      @media screen and (max-width: 768px) {
        margin-bottom: 0em;
      }

      .circle {
        font-family: "Bellefair", sans-serif;
        background: white;
        border-radius: 100%;
        padding: 3.5em 2em;
        text-transform: uppercase;
        color: black;
        font-size: 2em;
        pointer-events: auto;
        cursor: pointer;

        @media screen and (max-width: 768px) {
          padding: 3em 1.5em;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.09);
        transition: 0.5s;
      }
    }
  }
}
